body {
  background-color: #f5f5f5; }

.container {
  background-color: #ffffff; }

.header-row {
  background-color: #174c74;
  max-height: 51px;
  padding: 8px; }

.faostat-logo {
  width: 35px;
  height: 35px; }

.faostat-logo-text {
  font-size: 22px;
  color: #ffffff;
  font-weight: 100; }
  .faostat-logo-text b {
    font-weight: 900; }

.bs-docs-sidebar .nav > li > a {
  color: #ffffff; }

.bg-muted {
  background-color: #ffffff;
  color: #000000; }

.bg-example {
  background-color: #4c555a;
  color: #ffffff; }

.bs-docs-sidebar .nav .nav {
  display: block; }

.affix#api_header {
  top: 0;
  padding: 8px;
  max-height: 51px;
  position: fixed;
  background-color: #174c74;
  color: #fff;
  z-index: 999; }
  .affix#api_header h3 {
    color: #fff; }

.affix-top#api_header {
  position: static; }

.affix-bottom#api_header {
  position: static; }

.CodeMirror.cm-s-default {
  max-height: 175px;
  overflow-y: auto;
  border: 1px solid #ddd;
  font-size: 0.9em; }

.CodeMirror-scroll {
  background-color: #337ab7;
  color: #fff; }

.CodeMirror-gutters {
  background-color: #174c74; }

.CodeMirror-gutter.CodeMirror-linenumbers {
  color: #fff; }
