<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.fao.faostat.api.web.*" />

	<context:property-placeholder location="/WEB-INF/faostat-api.config"/>

	<bean id="defaultOptionsBean" class="org.fao.faostat.api.core.beans.MetadataBean">
		<constructor-arg value="${datasource}" />
		<constructor-arg value="${apiKey}" />
		<constructor-arg value="${clientKey}" />
		<constructor-arg value="${outputType}" />
	</bean>

	<bean id="jsonSchemaPool" class="org.fao.faostat.api.core.schema.JSONSchemaPool" lazy-init="false" init-method="init">
		<constructor-arg value="/json" />
	</bean>

	<bean id="excelExporter" class="org.fao.faostat.api.core.ExcelExporter">
		<constructor-arg value="/excel" />
	</bean>

</beans>