<script type='text/x-handlebars-template' id='structure'>
    <div class='container-fluid bs-docs-container'>
        <div class='row'>
            <div class='header-row'>
                <div class='faostat-logo-text'>
                    <b>FAO</b>STAT<b> API</b>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-2'>
                {{> menu}}
            </div>
            <div class='col-lg-10'>
                {{> introduction}}
                {{> introduction_datasources}}
                {{> introduction_languages}}
                {{> home}}
                {{> home_groups}}
            </div>
        </div>
        <div class='row'>
            <div class='header-row'>
                <div class='faostat-logo-text'>
                    © FAO 2015
                </div>
            </div>
        </div>
    </div>
</script>