<script type='text/x-handlebars-template' id='structure'>
    <div class='container-fluid bs-docs-container  bg-primary'>
        <div class='row' id='api_header'>
            <div class='header-row'>
                <div class='faostat-logo-text'>
                    <b>FAO</b>STAT<b> API</b>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-2' id='menu_holder'>
                {{> menu}}
            </div>
            <div class='col-lg-10 bg-muted'>
                {{> introduction}}
                {{> introduction_datasources}}
                {{> introduction_languages}}
                {{> introduction_output_structure}}
                {{> introduction_http_codes}}
                {{> javascript_client}}
                <h1 id='introduction' class='page-header'>
                    <a href='#restservices'>
                        REST Services
                    </a>
                </h1>
                {{> abbreviations}}
                {{> classifications}}
                {{> download_bulk}}
                {{> codes}}
                {{> data}}
                {{> dimensions}}
                {{> domains}}
                {{> glossary}}
                {{> home_groups}}
                {{> download_groups_domains}}
                {{> methodologies}}
                {{> methodology}}
                {{> units}}
            </div>
        </div>
        <div class='row'>
            <div class='header-row'>
                <div class='faostat-logo-text'>
                    © FAO 2015
                </div>
            </div>
        </div>
    </div>
</script>