<script type='text/x-handlebars-template' id='structure'>
    <div class='container-fluid bs-docs-container  bg-primary'>
        <div class='row' id='api_header'>
            <div class='header-row'>
                <div class='faostat-logo-text'>
                    <b>FAO</b>STAT<b> API</b>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-2' id='menu_holder'>
                {{> menu}}
            </div>
            <div class='col-lg-10 bg-muted'>
                {{> introduction}}
                {{> introduction_datasources}}
                {{> introduction_languages}}
                {{> introduction_output_structure}}
                {{> introduction_http_codes}}
                {{> home}}
                {{> home_groups}}
                {{> home_db_updates}}
                {{> home_news}}
                {{> home_coming_up}}
                {{> download}}
                {{> download_groups_domains}}
                {{> download_metadata}}
                {{> download_bulk}}
                {{> download_filters}}
                {{> download_codelists}}
                {{> download_data}}
                {{> browse}}
                {{> compare}}
                {{> search}}
                {{> analysis}}
                {{> standards}}
                {{> standards_methodologies}}
                {{> standards_methodology}}
                {{> standards_classification}}
                {{> standards_units}}
                {{> standards_glossary}}
                {{> standards_abbreviations}}
            </div>
        </div>
        <div class='row'>
            <div class='header-row'>
                <div class='faostat-logo-text'>
                    © FAO 2015
                </div>
            </div>
        </div>
    </div>
</script>