<!-- Navigation menu. -->
<script type='text/x-handlebars-template' id='menu'>
    <nav class='bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top'>
        <ul class='nav bs-docs-sidenav'>
            <li>
                <a href='#introduction'>
                    Introduction
                </a>
            </li>
            <li>
                <a href='#home'>
                    Home
                </a>
                <ul class='nav'>
                    <li>
                        <a href='#home-groups'>
                            Groups List
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href='#browse'>
                    Browse
                </a>
            </li>
            <li>
                <a href='#download'>
                    Download
                </a>
            </li>
            <li>
                <a href='#compare'>
                    Compare
                </a>
            </li>
            <li>
                <a href='#search'>
                    Search
                </a>
            </li>
            <li>
                <a href='#analysis'>
                    Analysis
                </a>
            </li>
            <li>
                <a href='#standards'>
                    Methods & Standards
                </a>
            </li>
        </ul>
    </nav>
</script>

<!-- Table headers. -->
<script type='text/x-handlebars-template' id='table_headers'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Example</th>
        </tr>
    </thead>
</script>

<!-- Table commons. -->
<script type='text/x-handlebars-template' id='table_commons'>
    <tr>
        <td><kbd>api_key</kbd></td>
        <td>N.A.</td>
        <td><var>N.A.</var></td>
    </tr>
    <tr>
        <td><kbd>datasource</kbd></td>
        <td>Name code of one of the available FAOSTAT datasources.</td>
        <td><var>faostat</var></td>
    </tr>
    <tr>
        <td><kbd>lang</kbd></td>
        <td>Code of one of the available FAOSTAT languages.</td>
        <td>
            <var>E</var>
        </td>
    </tr>
</script>

<!-- Introduction. -->
<script type='text/x-handlebars-template' id='introduction'>
    <div class='bs-docs-section'>
        <h1 id='introduction' class='page-header'>
            Introduction
        </h1>
        <p>
            Welcome to the FAOSTAT API's home page!
        </p>
    </div>
</script>

<!-- Introduction > Languages. -->
<script type='text/x-handlebars-template' id='introduction_languages'>
    <div class='bs-docs-section'>
        <h2 id='introduction-laguages'>
            Languages
        </h2>
        <p>
            FAOSTAT data is available in three languages: English, French and Spanish. Please refer to the table below
            for the codes required by the <kbd>lang</kbd> parameter.
        </p>
        <div class='row'>
            <div class='col-lg-6'>
                <table class='table table-bordered table-responsive table-striped table-hover table-condensed'>
                    <thead>
                        <tr>
                            <th>Language</th>
                            <th>Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>English</td>
                            <td>E</td>
                        </tr>
                        <tr>
                            <td>French</td>
                            <td>F</td>
                        </tr>
                        <tr>
                            <td>Spanish</td>
                            <td>S</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<!-- Introduction > Datasources. -->
<script type='text/x-handlebars-template' id='introduction_datasources'>
    <div class='bs-docs-section'>
        <h2 id='introduction-laguages'>
            Datasources
        </h2>
        <p>
            FAOSTAT provides several different datasources. Please refer to the table below
            for the codes required by the <kbd>datasource</kbd> parameter.
        </p>
        <div class='row'>
            <div class='col-lg-6'>
                <table class='table table-bordered table-responsive table-striped table-hover table-condensed'>
                    <thead>
                    <tr>
                        <th>Datasource</th>
                        <th>Code</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Production</td>
                            <td>faostat</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<!-- Home. -->
<script type='text/x-handlebars-template' id='home'>
    <div class='bs-docs-section'>
        <h1 id='home' class='page-header'>
            Home
        </h1>
    </div>
</script>

<!-- Home > Groups. -->
<script type='text/x-handlebars-template' id='home_groups'>
    <div class='bs-docs-section'>
        <h2 id='home-groups'>
            Groups List
        </h2>
        <p>
            Retrieve the list of available FAOSTAT groups. This function is used to generate the header
            of the main page containing the links to the Download and Browse sections for each group.
        </p>
        <div class='row'>
            <div class='col-lg-6'>
                <h4>Endpoint</h4>
                <code>
                    /groupsanddomains/{datasource}/{lang}/
                </code>
            </div>
            <div class='col-lg-6'>
                &nbsp;
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-6'>
                <h4>Inputs</h4>
                <table class='table table-bordered table-responsive table-striped table-hover table-condensed'>
                    {{> table_headers}}
                    <tbody>
                        {{> table_commons}}
                    </tbody>
                </table>
            </div>
            <div class='col-lg-6'>
                <h4>Input Example</h4>
                {{> home_groups_in}}
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-6'>
                <h4>Outputs</h4>
                <table class='table table-bordered table-responsive table-striped table-hover table-condensed'>
                    {{> table_headers}}
                    <tbody>
                        {{> table_commons}}
                    </tbody>
                </table>
            </div>
            <div class='col-lg-6'>
                <h4>Output Example</h4>
                {{> home_groups_out}}
            </div>
        </div>
        <h1 id='browse' class='page-header'>
            Browse
        </h1>
        <h1 id='download' class='page-header'>
            Download
        </h1>
        <h1 id='compare' class='page-header'>
            Compare
        </h1>
        <h1 id='search' class='page-header'>
            Search
        </h1>
        <h1 id='analysis' class='page-header'>
            Analysis
        </h1>
        <h1 id='standards' class='page-header'>
            Methods & Standards
        </h1>
    </div>
</script>