<script type='text/x-handlebars-template' id='home_groups'>
    <div class='bs-docs-section'>
        <h1 id='introduction' class='page-header'>
            Introduction
        </h1>
        <p>
            Welcome to the FAOSTAT API's home page!
        </p>
        <h1 id='home' class='page-header'>
            Home
        </h1>
        <h2 id='home-groups'>
            Groups List
        </h2>
        <p>
            Retrieve the list of available FAOSTAT groups. This function is used to generate the header
            of the main page containing the links to the Download and Browse sections for each group.
        </p>
        <div class='row'>
            <div class='col-lg-6'>
                <h4>Inputs</h4>
                <table class='table table-bordered table-responsive table-striped table-hover table-condensed'>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>asd</td>
                        <td>fgh</td>
                        <td>jkl</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class='col-lg-6'>
                <h4>Input Example</h4>
                <code class='language-js' data-lang='js'>
                    var pippo = "pippo";
                </code>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-6'>
                <h4>Outputs</h4>
                <table class='table table-bordered table-responsive table-striped table-hover table-condensed'>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>asd</td>
                        <td>fgh</td>
                        <td>jkl</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class='col-lg-6'>
                <h4>Output Example</h4>
                <code>
                    var pippo = "pippo";
                </code>
            </div>
        </div>
        <h1 id='browse' class='page-header'>
            Browse
        </h1>
        <h1 id='download' class='page-header'>
            Download
        </h1>
        <h1 id='compare' class='page-header'>
            Compare
        </h1>
        <h1 id='search' class='page-header'>
            Search
        </h1>
        <h1 id='analysis' class='page-header'>
            Analysis
        </h1>
        <h1 id='standards' class='page-header'>
            Methods & Standards
        </h1>
    </div>
</script>